* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  padding: 5px;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
button:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}

input, textarea {
  border: none;
  width: 100%;
  background: none;
  outline: none;
  padding: 5px 8px;
  box-shadow: 0px 3px 5px 1px #F0F3F4;
}
input::placeholder, textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: #F0F3F4;
  text-align: center;
}
body header .ctn-img a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}
body header .ctn-img a img {
  width: 30px;
}
body header .ctn-img a::before {
  content: "Ir al Repositorio";
  display: inline-block;
}
body header .ctn-img a:hover {
  box-shadow: 0px 0px 10px #F7DC6F, 0px 1px 5px rgba(0, 0, 0, 0.316);
}
body section.ctn-form-app {
  padding: 10px;
}
body section.ctn-form-app article .form {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 15px;
}
body section.ctn-form-app article .form div {
  width: 100%;
  text-align: center;
}
body section.ctn-form-app article .form div input {
  padding: 10px 15px;
  border-radius: 10px;
}
body section.ctn-form-app article .form div input[type=submit] {
  width: fit-content;
  background: rgb(0, 128, 255);
  border-radius: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
body section.ctn-form-app article .form div input[type=submit]:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
body section.ctn-form-app article .form::before {
  content: "Ingresa los campos para crear un Usuario";
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-weight: 600;
}
body section.ctn-form-app article .form .message-box-alert {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid black;
}
body section.ctn-form-app article .form .message-box-alert.danger {
  background: red;
}
body section.ctn-form-app article .form .message-box-alert.primary {
  background: cornflowerblue;
}
body section.ctn-form-app article .form .message-box-alert.success {
  background: rgb(26, 117, 3);
  text-shadow: 1px 1px 1px black;
}
body section.ctn-form-app .ctn-all-users {
  margin: 0 auto;
  max-width: 900px;
  border-top: 2px dashed rgba(0, 30, 255, 0.499);
  padding-top: 10px;
}
body section.ctn-form-app .ctn-all-users ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
body section.ctn-form-app .ctn-all-users ul a {
  position: relative;
  box-shadow: 0px 1px 5px #898989;
  border-radius: 10px;
  padding: 10px;
}
body section.ctn-form-app .ctn-all-users ul a li {
  list-style: none;
}
body section.ctn-form-app .ctn-all-users ul a li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body section.ctn-form-app .ctn-all-users ul a li .btns-action {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
body section.ctn-form-app .ctn-all-users ul a li .btns-action button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 0 black;
}
body section.ctn-form-app .ctn-all-users ul a li .btns-action button.btn-eliminar {
  background: red;
}
body section.ctn-form-app .ctn-all-users ul a li .btns-action button.btn-editar {
  background: cornflowerblue;
}
body section.ctn-form-app .ctn-all-users ul a::before {
  content: "";
  position: absolute;
}
body section.ctn-form-app .ctn-all-users::before {
  display: block;
  content: "Usuarios Creados";
  width: fit-content;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

/*# sourceMappingURL=index.css.map */
